@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Orbitron", sans-serif;
}

.content {
  background-image: linear-gradient(
    117deg,
    rgb(40, 40, 44) 0%,
    rgba(56, 100, 171, 1) 44%,
    rgba(67, 119, 214, 1) 67%
  );
  height: 100vh;
}

.container {
  width: 300px;
  padding-top: 20px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  background-image: linear-gradient(
    55deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(83, 123, 186, 1) 44%,
    rgba(44, 102, 200, 1) 67%
  );
  border-radius: 20px;
}

table {
  display: grid;
  justify-content: center;
  align-items: center;
}

.screen {
  word-wrap: break-word;
  overflow: hidden;
  padding: 18px;
  width: 55%;
  height: 20px;
  padding: 25px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

.botao {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 22px;
  border: none;
  color: black;
}

.botao:hover {
  background-color: #41aaef;
  transition: 0.12s;
}

#resultado {
  text-align: center;
  justify-content: center;
  font-size: 20px;
  margin: 0 auto;
}

.tabelabotoes {
  width: 23%;
  margin: 0 auto;
  border-radius: 22px;
  margin-top: 10px;
}

#botao-simb {
  background-color: rgb(255, 144, 0);
  color: black;
}

#botao-simb:hover {
  background-color: rgb(165, 122, 122);
}
